@model OurDestination.Models.MonthlyPaymentSetup

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">Member @ViewBag.Title</h2>
                <div class="card p-5">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (Model != null)
                    {
                        @Html.HiddenFor(mode => mode.PaymentSetupId, new { id = "paymenttypeid" })
                    }

                    <div class="col-md-12">
                        <fieldset>
                            <legend class="text-uppercase">Member Information</legend>
                        </fieldset>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <span>Department</span>
                                <span class="form-group">
                                    @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-3">
                                <span>Month</span>
                                <span class="form-group">
                                    @*<span class="input-group-addon"><i class="icon-calendar"></i></span>*@
                                    @Html.DropDownList("MonthId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
                                </span>
                            </div>
                      
                            <div class="col-md-3">
                                <span>Fee</span>
                                <span>
                                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-3">
                                <span>Year</span>
                                <span class="form-group">
                                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                </span>
                            </div>

                        </div>

                        <div class="row text-center">

                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                @if (ViewBag.Title == "Create")
                                {
                                    <span>
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </span>
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <span>
                                        <input type="submit" value="Update" class="btn btn-warning " />
                                    </span>
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <span>
                                        <button class="btn btn-danger" type="button" onclick="paymentSetup_Delete()">Delete</button>
                                    </span>
                                }
                                <span>
                                    @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-info" })
                                </span>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function paymentSetup_Delete() {
        var id = $('#paymenttypeid').val();
        $.ajax({
            url: '@Url.Action("Delete", "MonthlyPaymentSetups")',
                data: JSON.stringify({ id: id }), //use id here
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                if (result.Success == "1") {
                    customFile('3', result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "MonthlyPaymentSetups")';
                    }, 500);

                }
                else {
                    //alert();
                    toastr.error(result.ex)
                }
            }
        });
    }
</script>