@model IEnumerable<OurDestination.Models.Transection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-2">
                
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("Create New", "Create", null, null, new { @Class = "btn btn-primary" })
                    </div>
                    <div class="col">
                        <h2 id="styletext">
                            Committees List
                        </h2>
                    </div>
                </div>

            </div>
            <br />
                <div class="card p2">
                    <table class="table table-hover table-sm table-striped text-center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Member.MemberName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Month)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GivenDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EntryDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TransectionAmount)
                            </th>
                            <th>Action</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Month)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GivenDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransectionAmount)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.TransectionId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
        </div>
    </div>
</div>
