@model IEnumerable<OurDestination.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card p-2">
        <div class="row">
            <div class="col">
                @Html.ActionLink("Member Add", "Create", null, null, new { @class = "btn btn-info", @id = "btnback" })
            </div>

            <div class="col">
                <h2 id="styletext">Buyer List</h2>
            </div>
        </div>
    </div>

    <br />
    <form class="card p-2">
        <table id="tbllist" class="table table-striped tabel-bordered table-sm table-hover table-responsive text-center" cellspacing="0">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemberNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoiningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MotherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PresentAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermanentAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    Email
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NIDNo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NomineeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomineePhoneNo)
                </th>
                <th>
                    Member Status
                </th>
                <th> Action </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoiningDate)
                    </td>
                    <td style="width:250px;">
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PresentAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermanentAddress)
                    </td>
                    <td style="width:250px; word-wrap:break-word">
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td style="width:250px; word-wrap:break-word">
                        @Html.DisplayFor(modelItem => item.NIDNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NomineeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomineePhoneNo)
                    </td>
                    <td style="width:250px; word-wrap:break-word">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MemberId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
                    </td>
                </tr>
            }

        </table>
    </form>
</div>>
